{% extends 'base2.html' %} <!-- Assuming you have a base.html file with Bootstrap included -->

{% block content %}
<h1>Author Year Archive</h1>

<div class="row">
    {% for author in object_list %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ author.name }}</h5>
                <p class="card-text">Age: {{ author.age }}</p>
                <p class="card-text">Birth Date: {{ author.birth_date }}</p>
                <p class="card-text">Date Joined: {{ author.date_joined }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-4">
        <a class="text-dark" href="#">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h2 style="font-size:18px;font-weight:bold;min-height:42px;">
                        Years</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">{{next_year}}</small>
                        <small class="text-muted">{{previous_year}}</small>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}